{% extends 'base.html' %}

{% block breadcrumbs %}
<!-- Теги -->
{% with post.tags.all as tags %}
{% if tags %}
<ul class="tags-list">
    <li>Теги:</li>
    {% for t in tags %}
    <li><a href="{{t.get_absolute_url}}">{{t.tag}}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}

{% block content%}
<h1>{{post.title}}</h1>

{% if post.photo %}
<p><img class="img-article-left" src="{{post.photo.url}}"></p>
{% endif %}

{{post.content|linebreaks}}

{% if is_author or perms.men.change_men %}
<p><a href="{% url 'edit_page' post.slug %}">Редактировать</a></p>
{% endif %}

<div class="comments-section">
    <h2>Комментарии</h2>
    <ul class="comments-list">
        {% for comment in post.comments.all %}
        <li>
            <p class="comment-author">{{ comment.author.username }}</p>
            <p class="comment-date">{{ comment.created_at }}</p>
            <p class="comment-text">{{ comment.text }}</p>
        </li>
        {% empty %}
        <li>Пока нет комментариев.</li>
        {% endfor %}
    </ul>

    <div class="comment-form">
        <h2>Добавить комментарий</h2>
        <form method="post" action="{% url 'add_comment' post_slug=post.slug %}">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit">Добавить комментарий</button>
        </form>
    </div>
</div>
{% endblock %}